@{ ViewData["Title"] = "Active Wear - Women"; }
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">@ViewData["Title"]
            </h1>
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="active">@ViewData["Title"]</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
    <div class="row">
        <div class="col-md-4 img-portfolio">
            <a href="#">
                    <img class="img-responsive img-hover" src="../images/crossback-tank_LYNDA_29936-300x300.jpg" alt="">
                </a>
            <h3>
                <a href="#">Cross-Back Training Tank</a>
            </h3>
            <p>Our cross-back training tank is made from organic cotton with 10% Lycra for form and support, and a flattering
                feminine cut.</p>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="#">
                    <img class="img-responsive img-hover" src="../images/unisex-grunge-jeans_LYNDA_29937-300x300.jpg" alt="">
                </a>
            <h3>
                <a href="#">Grunge Skater Jeans</a>
            </h3>
            <p>Our boy-cut jeans are for men and women who appreciate that skate park fashions aren’t just for skaters. Made
                from the softest and most flexible organic cotton denim.</p>
        </div>
        <div class="col-md-4 img-portfolio">
            <a href="#">
                    <img class="img-responsive img-hover" src="../images/slicker-jacket_LYNDA_29941-300x300.jpg" alt="">
                </a>
            <h3>
                <a href="#">Slicker Jacket</a>
            </h3>
            <p>Wind and rain are no match for our organic bamboo slicker jacket for men and women. Triple stitched seams, zippered
                pockets, and a stay-tight hood are just a few features of our best-selling jacket.</p>
        </div>
    </div>
    <!-- /.row -->

    <!-- Projects Row -->
<div class="row">
    <div class="col-md-4 img-portfolio">
        <a href="#">
            <img class="img-responsive img-hover" src="../images/stretch-dance-pants_LYNDA_29942-300x300.jpg" alt="">
        </a>
        <h3>
            <a href="#">Stretchy Dance Pants</a>
        </h3>
        <p>Whether dancing the samba, mastering a yoga pose, or scaling the climbing wall, our stretchy dance pants, made
            from 80% organic cotton and 20% Lycra, are the most versatile and comfortable workout pants you’ll ever have
            the pleasure of wearing.</p>
    </div>
    <div class="col-md-4 img-portfolio">
        <a href="#">
            <img class="img-responsive img-hover" src="../images/ultra-soft-tank-top-for-women_LYNDA_29945-300x300.jpg" alt="">
        </a>
        <h3>
            <a href="#">UItra-Soft Tank Top</a>
        </h3>
        <p>This versatile tank can be worn in the gym, under a blazer, or for a day out in the sun. Made from our patented
            organic bamboo and cotton mix, our ultra-soft tank never stops feeling soft, even when you forget the fabric
            softener.</p>
    </div>
    <div class="col-md-4 img-portfolio">
        <a href="#">
            <img class="img-responsive img-hover" src="../images/unisex-thermal-vest_LYNDA_29944-300x300.jpg" alt="">
        </a>
        <h3>
            <a href="#">Unisex Thermal Vest</a>
        </h3>
        <p>Our thermal vest, made from organic bamboo with recycled plastic down filling, is a favorite of both men and
            women. You’ll help the environment, and have a wear-easy piece for many occasions.</p>
    </div>
</div>
</div>