@{ ViewData["Title"] = "Philosophy"; }
<!-- Page Content -->
<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Philosophy
            </h1>
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="active">Philosophy</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">
        <div class="col-lg-12">
            <p><img width="218" height="240" title="Quality-Guarantee-seal-for-H-Sport_LYNDA_39233" align="left" style="margin: 0px 5px 0px 0px; border: 0px currentcolor; border-image: none; float: left; display: inline; background-image: none;"
                    alt="Quality-Guarantee-seal-for-H-Sport_LYNDA_39233" src="../images/Quality-Guarantee-seal-for-H-Sport_LYNDA_39233.jpg"
                    border="0">We’re committed to creating products that defy convention, and inspire our customers with pride
                and trust. In fact, we guarantee every product we sell. If you’re not 100 percent happy with your purchase,
                you can return it during the first 60 days, no questions asked.</p>
            <p>We believe in providing all the information you need to make an informed decision on every purchase. As a result,
                we strive to make our materials, processing, and manufacturing data as accessible as possible. Our website
                at www.hplussport.com has all our nutritional facts and garment information available. We want to assure
                that you always have access to the information and support you need.</p>
            <p>We strongly feel that transparent business practices are necessary for keeping our company honest and committed
                to our values, ideals, and customers. In support of this, you can find information on our company standards,
                employee guide, materials sourcing, manufacturing contracts, and much more on our website. You deserve to
                know how we create products for you, as well as our work philosophy in getting it done.</p>
            <p>Philanthropy is extremely important to us. In fact, each employee volunteers for organization of his or her choice,
                on the clock, for two hours each week. We know that doing good, breeds more doing good, and we’re happy to
                promote a cycle of volunteerism that just keeps on giving.</p>
        </div>
    </div>
    <!-- /.row -->