@{ ViewData["Title"] = "Team"; }
<!-- Page Content -->
<div class="container">
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Our Team
                </h1>
                <ol class="breadcrumb">
                    <li><a asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="active">Our Team</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive img-hover" src="../images/Henry-Twill_LYNDA_34248-e1495822530289.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>Henry Twill, Jr</h3>
                <h4>CEO</h4>
                <p>Henry Twill Jr. is the founder and CEO of H+ Sports. Previously he was an athletic trainer working with several
                    top athletes, making sure that they had the direction and proper coaching to keep them at the top of
                    their game. Henry’s passion for finding natural alternatives led him to developing H+ Sport Multivitamins.
                    The supplements became a success with his clients and led to the creation of H+ Sports.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive" src="../images/Jessica-Newton-Smith-CFO-HSport_LYNDA_34276-e1495822224127.jpg" alt="Jessica-Newton-Smith-CFO-HSport_LYNDA_34276-e1495822224127">
            </div>
            <div class="col-md-5">
                <h3>Jessica Newton-Smith, MBA</h3>
                <h4>CFO</h4>
                <p>Jessica Newton-Smith joined us in 2012 and brings more than 10 years of financial management experience to
                    H+ Sport, spanning a variety of companies and industries ranging from Fortune 500 agencies to start-ups.
                    She has extensive experience working in emerging markets and in the consumer and retail sectors. Jessica’s
                    understanding of how to transform a small business into an expanding corporation has been crucial to
                    launching H+ Sport into the forefront of the nutrition and sports apparel industries.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive" src="../images/Phi-Tang-Director-of-Product-Development-HSport_LYNDA_34279.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>Phi Tang, MBA</h3>
                <h4>Director of Product Development</h4>
                <p>Phi Tang joined H+ Sports in 2007 as Manager of Marketing Research and Product Development. He was promoted
                    to Director of Product Development in 2011. He has made major contributions to the discovery, development,
                    and implementation of the H+ Sport product lines. Before joining the company he worked as a scientific
                    expert and brings vast knowledge of ingredients and new technologies.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive" src="../images/Maria-Sontas-Director-of-Marketing-HSport_LYNDA_34277.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>Maria Sontas</h3>
                <h4>Director of Marketing</h4>
                <p>Maria Sontas has been with H+ Sport since 2010. She oversees the company’s marketing strategy – ensuring
                    advertising campaigns, social media initiatives, and events are planned to position the company strongly
                    in a competitive marketplace. Maria is a competing triathlete and her passion for our products shows
                    in her unique ability to drive awareness and increase our presence around the world.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive" src="../images/Angela-Hashton-Director-of-Sales-H-Sport_LYNDA_34272-e1495822397594.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>Angela Hashton</h3>
                <h4>Director of Sales</h4>
                <p>Angela Hashton joined the company in 2009, to initiate new relationships for our growing line of H+ Sports
                    active apparel. After being with the company for a year, she was promoted to Director of Sales. Angela
                    is the drive behind the H+ Sport ACTIVE product line and has an uncanny ability to formulate strategies
                    that have helped build our unified sales force. Educating people about health and nutrition is something
                    that Angela holds dear, and her utmost compassion for others helps make her a leader in the industry.</p>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-5">
                <img class="img-responsive" src="../images/Michael-Lewiston_MFA-Creative-Director-HSport_LYNDA_34278.jpg" alt="">
            </div>
            <div class="col-md-5">
                <h3>Michael Lewiston, MFA</h3>
                <h4>Creative Director</h4>
                <p>Michael Lewiston is a multi-faceted creative person who began his career as a designer for a small business
                    firm, while also working as an independent painter and sculptor. In 2007, Henry Twill was impressed by
                    Michael’s creative work in a national ad campaign for a high profile sports apparel company. Henry approached
                    Michael, and asked him to manage creative direction for the H+ Sport ACTIVE apparel line. In 2009, Michael
                    was promoted to Creative Director and his creative vision has since won him accolades, awards, and notoriety
                    in industry publications.</p>
            </div>
        </div>